body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centro horizontalmente */
    min-height: 100vh;
    display: flex;

    justify-content: center; /* Centro horizontalmente */
}

.content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 80%; /* Ajusta el ancho a tu preferencia */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centro verticalmente */
}

h1 {
    font-size: 400%;
    font-family: 'Caveat', cursive;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    margin-bottom: 1em;
    box-sizing: border-box;
    background-color: #ffffff00;
    color: #000000;
    text-align: center;
    border: solid;
    font-family: 'Caveat', cursive;
}

button {
    background-color: #00000000;
    color: #000000;
    font-size: 1.2em;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Caveat', cursive;
}

button:hover {
    background-color: #000000c5;
    color: white;
}

table {
    table-layout: fixed;
    width: 100%;
}

#name {
    margin-top: -2%;
}

#input {
    margin-top: -3%;
}

#tablaDatos{
    margin-top: 8%;
    font-family: 'Caveat', cursive;
    font-size: 300%;
}


td {
    padding: 1.3%; /* Ajusta el valor de padding para cambiar el tamaño de la celda */
    text-align: center;
}

.superpuesta {
    position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
}

th {
    text-decoration: underline;
}

@media print {
    /* Ocultar los botones "Agregar" e "Imprimir" */
    button {
      display: none;
    }
  
    /* Ocultar el input "¿Qué falta hacer?" */
    input[type="text"] {
      display: none;
    }
  }
  